body{
    margin:2em;
    padding:0;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size:1.2em;
    overflow:hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Arima Madurai", serif;
    font-size:2.4rem;
    line-height:2.4rem;
}

body > * {
    margin:0 auto;
    width:40%;
}

body > header {
    background-color:#799c70;
    color:#fff;
    border-bottom: 2px solid #374F31;
    z-index: 100;
    position:relative;
    overflow:auto;
}

body > header > h1 {
    padding: .3em .7em 0 .7em;
}

body > main > * {
    padding:0;
    height:70vh;
    overflow:scroll;
}

body > main > nav {
    background-color:#E7F2E4;
}

body > main > nav > ul {
    list-style-type: none;
    padding:0;
    margin:0;
}

body > main > nav > ul > li > a {
    display:block;
    margin:0 .8em;
    padding:1.2em .7em;
    text-decoration: none;
    color:#4F2948;
    font-weight:400;
    border-bottom:.1em solid rgba(199, 193, 198, 0.6)
}

body > main > nav > ul > li > a:visited {
    color:#4F2948;
}

body > main > nav > ul > li:hover {
    background-color:#E6E3E4;
}

body > main > section {
    background-color:#E6E3E4;
    padding: 1.7em 1.5em;
    height: 60vh;
    position:relative;
}

body > main > section > h3 {
    font-size:1.6em;
    margin:0;
    padding-bottom:.4rem;
    border-bottom:.1em solid rgba(199, 193, 198, 0.6)
}

body > main > section > p.phone_number, body > main > section > p.email {
    font-size:1.3em;
    margin:.4rem 0 ;
}

body > main > section > p:first-of-type {
    margin-top:.8em;
}

body > main > section > p.company {
    margin:1rem 0 .4rem 0;
}

body > main > section > p.title {
    margin:.4rem 0 1.6rem 0;
}

body > main > section > p.know_for {
    border-top:.05em solid rgba(199, 193, 198, 0.6);
    margin:0;
    padding:1.6rem 0;
}

body > main > section > p.needs_contact{
    position:relative;
    bottom:0;
    margin:0;
}

body > main > section > p.needs_contact > a {
    color:#fff;
    padding:1.5em 0;
    display:block;
    text-decoration: none;
    text-align:center;
    background-color:#996B7C;
}

body > main > section > p.needs_contact > a:hover{
    background-color:#B37D91;
}